.material-icons.account { 
    color: #ffffff; 
    size: 80px;
}

.title {
    padding-top: 2em;
    text-align: center;
}

.main-form {
    padding-top: 2em;
    padding-right: 10em;
    padding-left: 10em;
    color: white;
}

.cb {
    text-align: center;
    padding-bottom: 1em;
}