.chart-container {
    height: calc(40vh);
    width: calc(72vw);
    background-color: #212121;
    margin-left: 1em;
    margin-right: 3em;
}

.chart-container-infos {
    text-align: justify;
    margin: 10px;
    margin-right: 20px;
    color: white;
}